# CMake
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
Makefile
build*.ninja
cmake_install.cmake
install_manifest.txt

# Generated Artifacts
libargs.a
example.basic
example.group

# Compilation Database
compile_commands.json
