# CMake
*.dir/
*.recipe
*.sln
*.tlog/
*.vcxproj
*.vcxproj.filters
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
Makefile
build*.ninja
cmake_install.cmake
install_manifest.txt

# Generated Artifacts
*.a
*.dylib
*.exe
*.ilk
*.lib
*.pdb
*.so
example.basic
example.group

# Compilation Database
compile_commands.json
