# CMake
*.dir/
*.recipe
*.sln
*.tlog/
*.vcxproj
*.vcxproj.filters
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing/
wahl_tests_*.cmake
build*.ninja
cmake_install.cmake
doctestConfig.cmake
doctestConfigVersion.cmake
install_manifest.txt

# Generated Artifacts
*.a
*.dylib
*.exe
*.ilk
*.lib
*.pdb
*.so
wahl_tests
example.basic
example.group

# Compilation Database
compile_commands.json
